*{
   box-sizing:border-box;
}


.navbar-brand, .nav-link{
    color:aliceblue;
}



.sign-up-link{
    border: 2px solid aliceblue;
    border-radius: 10px;
    
    margin-left:750px;
}

.sign-up-link a{
    color:aliceblue;
    text-decoration: underline;
}


#carouselExampleCaptions{
    width:fit-content;
    height: fit-content;
    margin-left:-12px;    
}

.container{
    margin:70px auto 50px auto;
    background-color:deepskyblue;
    border-radius: 20px;
}


.carousel-item img{
    width:400px;
    height:450px;
    filter: brightness(0.7);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.heading, .hasAccount{
    text-align:center;
    color:aliceblue;

}
.hasAccount{
    margin-top:30px;
}
.heading{
    margin:30px auto 40px auto;
}
.btn[type="submit"]{
    margin-top:20px;
    margin-left:50px;
    
}
.exit-button{
    margin-top: 20px;
    margin-left: 80px;
}
form{
    width:80%;
    height:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.form-control{
    width:100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-caption{
    top:160px;
    color:#fff;
}
    
  

footer{
    
    display: flex;
    flex-direction: row;
    margin-top:160px;
    justify-content: space-around;
    background-color:hsl(254, 78%, 19%);
    width:100%;
    height:220px;
    color: aliceblue;
   align-items: center;
}
footer li{
    width:fit-content;
   margin-top:13px;
}

footer ol{
    list-style-type: none;
}

.references{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer pre{
    
    font-size: 33px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    font-weight: 200;
    
} 



footer img:hover{
    box-shadow: 0 0 15px white;
    
}

.icons i{
    margin:10px 10px 30px 10px;
}

footer li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0 0 10px azure;
} 
 







