*{
   box-sizing:border-box;
}


.navbar-brand, .nav-link{
    color:aliceblue;
}



.sign-up-link{
    border: 2px solid aliceblue;
    border-radius: 10px;
    
    margin-left:750px;
}

.sign-up-link a{
    color:aliceblue;
    text-decoration: underline;
}


#carouselExampleCaptions{
    width:fit-content;
    height: fit-content;
    margin-left:-12px;    
}

.container{
    margin:70px auto 50px auto;
    background-color:deepskyblue;
    border-radius: 20px;
}


.carousel-item img{
    width:400px;
    height:450px;
    filter: brightness(0.7);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.heading, .hasAccount{
    text-align:center;
    color:aliceblue;

}
.hasAccount{
    margin-top:5px;
}
.heading{
    margin:30px auto 5px auto;
}



#regForm {
    color:#ffdddd;
    margin: 5px auto;
    
    padding: 10px;
    width: 80%;
    min-width: 200px;
  }
  
  .exit-button{
      margin-top: 10px;
      
  }
  
  b {
      font-size: 1.3em;
  }
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    margin-top: 20px;
    border: 1px solid #aaaaaa;
  }
  #prevBtn{
    display: none;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab:first-of-type {
    display: block;
  }
  .tab{
    display: none;
  }
  
  
  
  
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #414141;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
      
      background-color: #efecec;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: rgba(8, 156, 0, 0.729);
  }

.carousel-caption{
    top:160px;
    color:#fff;
}
    
  

footer{
    
    display: flex;
    flex-direction: row;
    margin-top:160px;
    justify-content: space-around;
    background-color:hsl(254, 78%, 19%);
    width:100%;
    height:220px;
    color: aliceblue;
   align-items: center;
}
footer li{
    width:fit-content;
   margin-top:13px;
}

footer ol{
    list-style-type: none;
}

.references{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer pre{
    
    font-size: 33px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
    font-weight: 200;
    
} 



footer img:hover{
    box-shadow: 0 0 15px white;
    
}

.icons i{
    margin:10px 10px 30px 10px;
}

footer li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0 0 10px azure;
} 
 







